
:root{
	--first: #800080;
	--second: #4B0082;
	--third: #452c63;
}

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
background: var(--second);
}
.wrapper{
display: flex;
justify-content: center;
align-items: center;
/* height: 100vh; */

}

button{
	border: none;
	outline: none;
	background-color: var(--first);
	color: white;
	padding: 10px 20px;
	font-weight: 600;
	cursor: pointer;
}

.main{
	
	width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

	background: var(--second);

	margin:  auto;
	padding: 20px;

}


#start-section, #quiz-section, #result-section{
	
/*width: 100%;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

 #result-section{
 	text-align: center;
 }

#start-section #user-name{
width: 90%;
height: 50px;
outline: none;
margin-top: 10px;
font-size: 18px;
padding: 0 10px;
}

#start-section button{
	width: 50%;
	height: 50px;
	outline: none;
	border: none;
	margin-top: 40px;
	background-color: white;
	color: var(--second);
	font-weight: 600;
	/*padding: 20px 0;*/
	font-size: 18px;
	border-radius: 50px;

	}

#subjects{
	/* width: 90%; */
height: 50px;
/* outline: none; */
margin-top: 30px;
font-size: 18px;
padding: 0 10px;
	margin-top: 20px;
width: 94%;
/* height: 35px; */
outline: none;
border: none;

}

.quiz-note{
	margin-top: 30px;
	font-size: 14px;
	color: white;
}
#question-text{
font-weight: 600;
font-size: 18px;
height: 60px;
color: white;
}
.counter-timer p{
	font-weight: 600;
	font-size: 20px;
	color: white;
}
.counter-timer span{
	font-weight: 600;
	font-size: 16px;
	color: white;
}
#choices-container{
	display: flex;
	flex-direction: column;
	/* margin-top: 30px; */
	
}
.counter-timer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#choices-container button{
	width: 50%;
	margin: 5px;
	outline: none;
	border: none;
	padding: 10px;
	background-color: white;
	color: black;
	font-weight: 500;
	font-size: 16px;
}

/* #choices-container button:hover{
background-color: var(--first);
color: white;

}
#choices-container button:active{
	background-color: var(--first);
	color: white;
	
	} */
.Btns{
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}
.Btns button{
	background-color: white;
	color: var(--second);
}
/* .Btns button:hover{
	background-color: purple;
	color: white;
} */

.back{
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.back button{
	background-color: white;
	color: var(--second);
}
/* .back button:hover{
	background-color: purple;
	color: white;
} */
#result-text{
	font-weight: bold;
	font-size: 24px;
}
.developer{
	font-size: 12px;
	color: white;
	text-align: center;
	margin-top: 60px;
}

@media (max-width: 1024px){
	.main{
		width: 100%;
		box-shadow: none;
	}
	#choices-container button{
		width: 80%;
	}
}